footer {
    margin: 4rem;
    text-align: center;
}

footer p,
footer a {
    color: #999;
}

footer a {
    text-decoration: none;
}

@media (max-width: 760px) {
    footer {
        margin: 1rem;
    }

    footer p,
    footer a {
        font-size: 0.825rem;
    }
}
